<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="home">Mers Intérieures</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="home">Accueil<span class="sr-only">(current)</span></a>
						</li>
						<li>
							<a href="info">Qui sommes-nous ?</a>
						</li>
						<li>
							<a href="references">Références</a>
						</li>
						<li>
							<a href="realisations">Réalisations</a>
						</li>
						<li>
							<a href="tarifs">Tarifs</a>
						</li>
						<li>
							<a href="comm">Communication écrite</a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Spectacle vivant<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li>
									<a href="spectacle">Spectacle vivant</a>
								</li>
								<li role="separator" class="divider"></li>
								<li>
									<a href="photos">Photos</a>
								</li>
								<li>
									<a href="extraits">Extraits vidéos</a>
								</li>
								<li role="separator" class="divider"></li>
								<li>
									<a href="#">Comedia del Ablys</a>
								</li>
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="contact">Contact</a>
						</li>
					</ul>
		</nav>