<!DOCTYPE html>
<html>
	<head>
		<title>Mers Intérieures</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="home">Mers Intérieures</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="home">Accueil<span class="sr-only">(current)</span></a>
						</li>
						<li>
							<a href="info">Qui sommes-nous ?</a>
						</li>
						<li>
							<a href="references">Références</a>
						</li>
						<li>
							<a href="realisations">Réalisations</a>
						</li>
						<li>
							<a href="tarifs">Tarifs</a>
						</li>
						<li>
							<a href="comm">Communication écrite</a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Spectacle vivant<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li>
									<a href="spectacle">Spectacle vivant</a>
								</li>
								<li role="separator" class="divider"></li>
								<li>
									<a href="photos">Photos</a>
								</li>
								<li>
									<a href="extraits">Extraits vidéos</a>
								</li>
								<li role="separator" class="divider"></li>
								<li>
									<a href="#">Comedia del Ablys</a>
								</li>
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="contact">Contact</a>
						</li>
					</ul>
		</nav>
	</head>

	<body>
		<%= yield %>

		<footer class="footer">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-8">
						<ul>
							Nos clients
						</ul>
						<li>
							Client 1
						</li>
						<li>
							Client 2
						</li>
						<li>
							Client 3
						</li>
					</div>
					<div class="col-md-2">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2627.4228537641866!2d1.8941739156727473!3d48.81199287928304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e69b3d043ee0ab%3A0xa1c36b95e74fa8ad!2s81+Grande+Rue%2C+78640+Neauphle-le-Ch%C3%A2teau!5e0!3m2!1sfr!2sfr!4v1478097156840" width="200" height="110" frameborder="0" style="border:0"></iframe>
					</div>
					<div class="col-md-2">
						<p>
							Contact
						</p>
						<p>
							81 Grande Rue
							<br>
							78640 Neauphle Le Chateau
							<br>
							France
						</p>
					</div>
				</div>
		</footer>

	</body>

</html>
